check_for_updates_on_startup 0
should_launch_new_window 1
exact_highlight_select 1
overview_size 0.5 0.5
status_bar_font_size 13
wheel_zoom_on_cursor 1
#ui_font SourceCodePro

show_document_name_in_statusbar 0
#Jade
highlight_color_j	0.60 0.25 0.00
#Caramel
highlight_color_c	0.58 1.00 0.71

shared_database_path    /home/aybars/GoogleDrive/Papers_sync/shared.db

highlight_color_h	0.00 0.46 0.86
highlight_color_n	0.00 0.46 0.86
highlight_color_j	0.60 0.25 0.00
#highlight_color_h	0.749 0.91 1
#highlight_color_n	0.749 0.91 1
#highlight_color_h	0.612 0.847 0.98
#highlight_color_n	0.612 0.847 0.98
#highlight_color_h 0.714 0.839 0.969
highlight_color_h	#00b2a9
#highlight_color_h	#60b3e0
#highlight_color_j	#e5c602
highlight_color_j 1.00 0.64 0.02


new_command _embed_annotations python3 -m sioyek.embed_annotations "%{sioyek_path}" "%{local_database}" "%{shared_database}" "%{file_path}"
new_command _extract_highlights python3 -m sioyek.extract_highlights "%{sioyek_path}" "%{local_database}" "%{shared_database}" "%1" %{zoom_level}

new_command _translate_text python3 -m sioyek.translate "%{sioyek_path}" "%{selected_text}"
new_command _translate_current_line_text python3 -m sioyek.translate "%{sioyek_path}" "%{line_text}"

new_command _add_text python3 -m sioyek.add_text "%{sioyek_path}" "%{local_database}" "%{shared_database}" "%{file_path}" "%{selected_rect}" "%{command_text}"
new_command _add_red_text python3 -m sioyek.add_text "%{sioyek_path}" "%{local_database}" "%{shared_database}" "%{file_path}" "%{selected_rect}" "%{command_text}" fontsize=5 text_color=255,0,0

#background_color .16 .18 .21
#background_color 1. 1. 1.
#background_color #d1d1d1
background_color #d4d4d7
right_click_context_menu 1
context_menu_items_for_selected_text copy

page_separator_width 2
resize_command fit_to_page_width
